<!--Main Content-->
<center>
    <div><h1></h1></div>
   <div class="col-md-6 align-items-center bgcolor-pink">
  
      <h1 class="logotext">My Role Model</h1>
      <p>
      <img src="/assets/images/indiraGandhi.jpg" height="350" alt="Indira Gandhi’s quote on education">
      </p>
      <h6>Indira Gandhi’s quote on education</h6>
      <div class="align-items-center col-md-6 px-0"><p class="text-center lead my-3"><i>Her political leadership divides the opinion of commentators as much as her personality. 
        While some saw Gandhi as aloof and insular, others admired her strength of character and iron will to put India on the map.</i>
        </p></div>
  
  </div>
</center>
    <!--Main Content end-->