<!--main navigation-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/assets/images/logo3.png" alt="Sujatha Express Porfolio" height="100" ></a>
      <div>
        <h1 class="logotext"><i>S<small>ujatha</small></i><br><h6 class="logotext"><small >The Best Never Rest</small></h6></h1></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"  >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <% if(title =="Home")
          {%>
            <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
         <% } else {%>
          <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
            <%}%>
            
          </li>
          <li class="nav-item">
            <% if(title =="About Me")
          {%>
            <a class="nav-link active" aria-current="page" href="/about"> <i class="fa-sharp fa-solid fa-circle-info"></i> About Me</a>
         <% } else {%>
          <a class="nav-link" aria-current="page" href="/about"> <i class="fa-sharp fa-solid fa-circle-info"></i> About Me</a>
            <%}%>
           
          </li>
          <li class="nav-item">
            <% if(title =="Projects")
          {%>
            <a class="nav-link active" aria-current="page" href="/projects"> <i class="fa-brands fa-product-hunt"></i> Projects</a>
         <% } else {%>
          <a class="nav-link" aria-current="page" href="/projects"> <i class="fa-brands fa-product-hunt"></i> Projects</a>
            <%}%>
           
          </li>
          <li class="nav-item">
            <% if(title =="Services")
          {%>
            <a class="nav-link active" aria-current="page" href="/services"> <i class="fa-sharp fa-solid fa-gear"></i> Services</a>
         <% } else {%>
          <a class="nav-link" aria-current="page" href="/services"> <i class="fa-sharp fa-solid fa-gear"></i> Services</a>
            <%}%>
           
            
          </li>
          <li class="nav-item">
            <% if(title =="Contact Me")
          {%>
            <a class="nav-link active" aria-current="page" href="/contact"> <i class="fa-solid fa-phone"></i> Contact Me</a>
         <% } else {%>
          <a class="nav-link" aria-current="page" href="/contact"> <i class="fa-solid fa-phone"></i> Contact Me</a>
            <%}%>
            
          </li>
         </ul>
        </div>
    </div>
  </nav>
 <!--main navigation end-->