<!--
Student Number : 301152761
Student Name: Sujatha Mohanram
Assignment : 1
-->
<!DOCTYPE html>
<html>
  <%- include('partials/header.ejs') %>
  <body>
    <!--main navigation-->
   <%- include('partials/main-nav.ejs') %>
   <!--main navigation end-->
   <!--Main Content-->
   <center>
    <div><h1></h1></div>
   <div class="col-md-6 align-items-center bgcolor-pink">
  
      <h1 class="logotext">Sujatha Mohanram</h1>
      <p>
      <img src="/assets/images/myself.jpg" height="250" alt="Sujatha Mohanram">
      </p>
      <h6>About Myself         <a href="/assets/docs/Sujatha Mohanram Resume.pdf"> <i class="fa-regular fa-hand-pointer"></i> <img src="/assets/images/pdf.png" height = "25" alt="My Resume" align="center"></a></h6>
          
      <div class="align-items-center col-md-6 px-0"><p class="text-center lead my-3"><i>I am a software architect with 20 years of software development experience. I have worked for companies like Sony Europe, EDS, Capgemini, IBM R&D, NHS, COPFS, HP, HPE, University of Glasgow and Global Trade Corporation in Toronto.
        I wish to reseach in the projects that would contribute towards well being of all living beings.
      </i>
        </p></div>
  
  </div>
</center>
    <!--Main Content end-->
    <!--footer-->
    <%- include('partials/footer.ejs') %>
    <!--footer end-->
    <!--scripts-->
    <%- include('partials/scripts.ejs') %>
    <!--scripts end-->
  </body>
</html>
