<!--
Student Number : 301152761
Student Name: Sujatha Mohanram
Assignment : 1
-->
<!DOCTYPE html>
<html>
  <%- include('partials/header.ejs') %>
  <body>
    <!--main navigation-->
   <%- include('partials/main-nav.ejs') %>
   <!--main navigation end-->
   <!--Main Content-->
   <center>
    <div><h1></h1></div>
   <div class="col-md-6 align-items-center bgcolor-pink">
  
      <h1 class="logotext">Projects</h1>
      </div>
      <div class="card-body d-flex flex-column col-md-6 align-items-start ">
        <div class="bgcolor-pink">
      <p><h4 class="logotext">NASA Software Architecture</h4></p>
        <p><a href="https://theses.gla.ac.uk/8622/1/2017MohanramMSc%28R%29pdf.pdf"> <i class="fa-regular fa-hand-pointer"></i>
      <img src="/assets/images/thesis.jpg" height="30" alt="University of Glasgow" align="center"></a></p>
      <p class="align-items-center col-md-10 px-3"> Software Architecture standardisation of components to build resillient Architecture.</p>
    </div>
    <div><p></p></div>
      </div>
        <div class="card-body d-flex flex-column col-md-6 align-items-end">
            <div class="bgcolor-pink">
           <p> <h4 class="logotext">AI for Autistic Children</h4> </p>
              <p><a href="https://www.eastersealstech.com/2016/07/26/reveal-empowered-care-autism/"> <i class="fa-regular fa-hand-pointer"></i>
            <img src="/assets/images/wearable.jpg" height="30" alt="Reveal" align="center"></a></p>
            <p class="align-items-center col-md-10 px-3"> Artificial Intelligence to identify and inform parents and caregivers of calming strategies.</p>            </div>
          </div>
          <div><p></p></div>
              <div class="card-body d-flex flex-column col-md-6 align-items-start">
                <div class="bgcolor-pink">
                                 <p>  <h4 class="logotext">One Language for all living being</h4></p>
                 
                <img src="/assets/images/OneLanguage1.png" height="50" alt="University of Glasgow" align="center">
                <p class="align-items-center col-md-10 px-3"> Sound recognition transformed to speech using Artificial Intelligence.
                </p>   
                
                </div>
               </div>
  
  </div>
</center>
    <!--Main Content end-->
    <!--footer-->
    <%- include('partials/footer.ejs') %>
    <!--footer end-->
    <!--scripts-->
    <%- include('partials/scripts.ejs') %>
    <!--scripts end-->
  </body>
</html>
